<a href="https://colab.research.google.com/github/RafaelEspina/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Self Testing |

I was testing while in class

In [ ]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [ ]:
testing = ["Aira", "Hermie", "Mark", "Rafael", "Rosanella", "Sam"]
print(testing)
for x in testing:
  print (x)

['Aira', 'Hermie', 'Mark', 'Rafael', 'Rosanella', 'Sam']
Aira
Hermie
Mark
Rafael
Rosanella
Sam

In [ ]:
x = 1
y = 2
z = 3
print (x,"\n",y, z)
print("Hello \nWorld")

1
 2 3
Hello
World

Paano tanggalin yung space after ng new line??????

In [19]:
txt1 = "Hooyah"
txt2 = "ara ara"


"""for x in txt1:
  for y in txt2:
   print(x,y)
  else:
    print("Di ko alam ginagawa ko :DDDDDDDDDDDDDDDD")
    """
testing1 = ["one", "two", "three"]

for x in txt1:
  print(txt1)

for x in range(2, 30, 3):
  print(x)

"""
ahhh gets ko na
"""

for x in range(2):
  print(txt1)

Hooyah
Hooyah
Hooyah
Hooyah
Hooyah
Hooyah
2
5
8
11
14
17
20
23
26
29
Hooyah
Hooyah

End of Self Testing

Python Casting

In [2]:
b = 1 #Int
a = "Rosanella" #String
print (a)
print (b)

print (type(a))
print (type(b))

Rosanella
1
<class 'str'>
<class 'int'>

In [18]:
x, y, z = "one", "two", 3
q = w = e = "calliope"
r,f,v = "Ten"
l = "Python is "
m = "fun"
n = l + m
print (x,y, z)
print (q,w,e)
print (r,f,v)
print (n)

one two 3
calliope calliope calliope
T e n
Python is fun

Arithmetic Operation

In [20]:
addition = 7 + 8
subtraction = 5 - 27
multiplication = 8 * 3
division = 9 / 3
modulus = 28 % 9
exponentiation = 4**2
Floor_Division = 9//3

print (addition)
print (subtraction)
print (multiplication)
print (division)
print (modulus)
print (exponentiation)
print (Floor_Division)

15
-22
24
3.0
1
16
3

Comparison Operator

In [25]:
txt = "The best things in life are free!"
print("expensive" not in txt) #not

x = 10
y = 20
z = 10

print (x == z and x > y)
print (x == z and x < y)
print (x == z or x > y)
print ("-----------------")
print (x is z)
print (x is not y)

True
False
True
True
-----------------
True
True