<a href="https://colab.research.google.com/github/RafaelEspina/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [3]:
testing = ["Aira", "Hermie", "Mark", "Rafael", "Rosanella", "Sam"]
print(testing)

['Aira', 'Hermie', 'Mark', 'Rafael', 'Rosanella', 'Sam']

In [23]:
x = 1
y = 2
z = 3
print (x,"\n",y, z)
print("Hello \nWorld")

1
 2 3
Hello
World

Paano tanggalin yung space after ng new line??????

In [55]:
txt1 = "Hooyah"
txt2 = "ara ara"
x = 1
y = 2

"""for x in txt1:
  for y in txt2:
   print(x,y)
  else:
    print("Di ko alam ginagawa ko :DDDDDDDDDDDDDDDD")
    """
testing1 = ["one", "two", "three"]

for x in txt1:
  print(txt1)

for x in range(2, 30, 3):
  print(x)



"""
ahhh gets ko na
"""

for x in range(2):
  print(txt1)

Hooyah
Hooyah
Hooyah
Hooyah
Hooyah
Hooyah
2
5
8
11
14
17
20
23
26
29
Hooyah
Hooyah

Mas trip ko padin for loop ng C++ HAHAHAHAHHA || Bat ang daming Hooyah??? HAHHAHAHA di ko talaga gets yung for loop ng python || Nvm gets ko na kung paano HAHAHHA