<a href="https://colab.research.google.com/github/RafaelEspina/OOP-58001/blob/main/Operation_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [4]:
print(10 > 9)
print(10 == 9)
print(10==10)
print (10 < 9)

True
False
True
False

In [14]:
print(bool(1))
print(bool(0))
print(bool(2))
print("\n")
#It is always true unless it is set to false or empty space/set
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))

True
False
True


False
False
False
False
False

In [15]:
#Functions can return a boolean

def myFunction():
  return True

print(myFunction())

True

In [19]:
#You can you If statements

#this will print yes
def myFunction():
  return True

if myFunction():
  print("YES")
else:
  print("NO")

print("\n")

#This will print NO

def myFunction2():
  return False

if myFunction2():
  print("YES")
else:
  print("NO")

YES


NO

Python Operators

In [21]:
# Just like every other Language, there are operators which are ( +, -, *, and /)
# And you can also use power, floor, and modulus
# Examples

print(1 + 1) #Addition
print(2 - 5) #Subtraction
print(3 * 3) #Multiplication
print(25 / 5) #Division
print(4 ** 4) #Power
print(25 // 5) #Floor
print(11 % 5) #Modulus

2
-3
9
5.0
256
5
1

Python Logical Operators

In [27]:
#Unlike C++, the logical operators in Python doesnt use &&, ||, ! but uses and, or, and not
#Example

a = 10
b = 10
c = 9

#True || It is true since a and b is equal 10
if a and b == 10:
  print("True")
else:
  print("False")

#False || It is False since only one of them is equal to 10
if a and c == 10:
  print("True")
else:
  print("False")

#True || It is true since one of them is equal to 10 which is a
if a or c == 10:
  print("True")
else:
  print("False")

#False || It is false since we said that a (which is 10) is not equal to 10
if not a == 10:
  print("True")
else:
  print("False")

True
False
True
False

Conditional Statement in Python

#In Conditional Statemetns we have If, Elif (else if), Else, short hand if statement, short hand if else statement, and-both conditions are true, Nested if

In [43]:
a = 10
b = 11
c = 21
#If statement (It will not print since a is not equal to b)
if a == b:
  print("They are equal")

#Elif or else if || It printed

if a > b:
  print("a is greater than b")
elif a != b:
  print("a is less than b")

#Else || Else is when "if" did not work, it will execute "else" instead
if a == b:
  print("They are equal")
else:
  print("They are not equal")

#Short hand if statement
if a < b: print("a is less than b")

#short hand if else statement
print("c is greater than a") if c > a else print("c is less than a")

#And-both conditions are true || It printed since both 
if a < b and c > b:
  print("Both conditions are true")

#or-at least one of the conditions are true
if a > b or c > b:
  print("One of them is true or both are true")

print("\n")
#Nested if
if a < b:
  print("a is less than b")
  if b < c:
    print("b is less than c")
    if c == b+a:
      print("c is equal to b + a")

a is less than b
They are not equal
a is less than b
c is greater than a
Both conditions are true
One of them is true or both are true


a is less than b
b is less than c
c is equal to b + a

Loop Statement

In [49]:
numbers = ["一", "二", "三", "四", "五", "六", "七", "八", "九"] # Numbers 1 - 9
englishNumbers = ["one", "two", "three", "four", "five", "six", "seven", "eight", "nine"]

for x in numbers:
  print(x)
print("\n")

for x in numbers:
  print(x)
  if x == "五":
    break
print("\n")

for x in numbers:
  if x == "五":
    break
  print(x)
print("\n")

for x in "numbers":
  print(x)
print("\n")

for x in range(6):
  print(numbers)

for x in numbers:
  for y in englishNumbers:
    print(x,y)

一
二
三
四
五
六
七
八
九


一
二
三
四
五


一
二
三
四


n
u
m
b
e
r
s


['一', '二', '三', '四', '五', '六', '七', '八', '九']
['一', '二', '三', '四', '五', '六', '七', '八', '九']
['一', '二', '三', '四', '五', '六', '七', '八', '九']
['一', '二', '三', '四', '五', '六', '七', '八', '九']
['一', '二', '三', '四', '五', '六', '七', '八', '九']
['一', '二', '三', '四', '五', '六', '七', '八', '九']
一 one
一 two
一 three
一 four
一 five
一 six
一 seven
一 eight
一 nine
二 one
二 two
二 three
二 four
二 five
二 six
二 seven
二 eight
二 nine
三 one
三 two
三 three
三 four
三 five
三 six
三 seven
三 eight
三 nine
四 one
四 two
四 three
四 four
四 five
四 six
四 seven
四 eight
四 nine
五 one
五 two
五 three
五 four
五 five
五 six
五 seven
五 eight
五 nine
六 one
六 two
六 three
六 four
六 five
六 six
六 seven
六 eight
六 nine
七 one
七 two
七 three
七 four
七 five
七 six
七 seven
七 eight
七 nine
八 one
八 two
八 three
八 four
八 five
八 six
八 seven
八 eight
八 nine
九 one
九 two
九 three
九 four
九 five
九 six
九 seven
九 eight
九 nine

While Loops

In [60]:
i = 0

while i < 6:
  print(i)
  i+=1
print("\n")

i = 0
while i < 6:
  print(i)
  if i == 3:
    break
  i+=1
print("\n")

i = 0

while i < 6:
  i += 1
  if i == 4:
    continue
  print(i)
print("\n")

i = 0

while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

0
1
2
3
4
5


0
1
2
3


1
2
3
5
6


0
1
2
3
4
5
i is no longer less than 6

LETS TRY

In [64]:
#Create a Pyhton program  that displays:

for x in range(11):
  print("Hello", x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

LETS TRY

In [69]:
#Create a Python program that displays integers less than 10 but not less than 3

for x in range(11):
  if x > 2:
    print(x)

3
4
5
6
7
8
9
10